.blog {
  padding: 50px 15px 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  @media (max-width: 1290px) {
    padding-left: 43px;
    padding-right: 43px;
  }

  @media (max-width: $mobile-width) {
    padding-left: 15px;
    padding-right: 15px;
  }
}

.blog__tiles {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 30px;
  margin-top: 62px;

  @media (max-width: $tablet-width) {
    grid-template-columns: 1fr;
    margin: 62px auto 0;
    width: 679px;
  }

  @media (max-width: $mobile-width) {
    width: auto;
  }
}

.blog__tile {
  display: grid;
  background-color: $light-background;
  min-height: 300px;

  &--first,
  &--second  {
    grid-template-columns: repeat(2, 285px);
    grid-column: 1/2;
  }

  &--first {
    grid-row: 1/2;
  }

  &--second {
    grid-row: 2/3;
  }

  &--third {
    position: relative;
    min-height: 630px;
    grid-column: 2/3;
    grid-row: 1/3;

    .blog__article {
      position: absolute;
      right: 0;
      bottom: 0;
      width: 285px;
      min-height: 300px;
    }
  }

  @media (max-width: 1290px) {
    flex-grow: 1;

    &--first,
    &--second  {
      grid-template-columns: repeat(2, 1fr);
      grid-column: 1/2;
    }
  }

  @media (max-width: $tablet-width) {
    grid-template-columns: repeat(2, 1fr);

    &--third {
      grid-column: 1/2;
      grid-row: 3/4;
      min-height: 300px;

      .blog__article {
        position: static;
        width: auto;
      }
    }
  }

  @media (max-width: $mobile-width) {
    grid-template-columns: 1fr;
    width: 290px;
  }
}

.blog__image img {
  display: block;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.blog__tile--second {
  @media (max-width: $mobile-width) {
    .blog__article {
      order: 1;
    }
  }
}

.blog__tile--third {
  @media (max-width: $tablet-width) {
    .blog__image {
      position: relative;
      width: 339px;
      overflow: hidden;
    }

    img {
      position: absolute;
      object-fit: contain;
      height: 100%;
      top: 0;
      left: 0;
      transform: translate(30px, 70px) scale(1.5);
    }
  }
}

.blog__title {
  text-align: center;
  vertical-align: baseline;
}

.blog a {
  display: inline-block;
  text-decoration: none;
  border-bottom: 1px solid $primary;
}

.blog__article {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 67px 61px;
  text-align: center;
  background-color: $light-background;

  @media (max-width: 1290px) {
    padding-left: 10px;
    padding-right: 10px;
  }

  @media (max-width: $tablet-width) {
    padding-left: 88px;
    padding-right: 88px;
  }

  @media (max-width: $mobile-width) {
    padding: 43px 60px 52px;
  }
}

.blog__article span {
  margin: 0 0 13px;
  font-size: 14px;
  color: $light-font;
}

.blog__article p:nth-child(2n) {
  margin: 0 0 37px;
  font-family: "Cormorant Garamond", "Times New Roman", "Times", serif;
  color: $basic-black;
  font-weight: 600;
  font-size: 26px;
  line-height: 130%;
}

.blog__article p:last-child {
  font-family: "Poppins","Courier New", "Courier", monospace;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
}

