.breadcrumbs {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  width: 48px;
  margin: 0 auto;

  &--catalog {
    width: 96px;
    margin-left: 0;
    margin-right: 31px;

    .breadcrumbs__button--active {
      color: $dark-font;
    }
  }

  @media (max-width: $tablet-width) {
    width: 120px;

    &--catalog {
      width: 96px;
      margin-right: 32px;
    }
  }

  @media (max-width: $mobile-width) {
    width: 49px;

    &--catalog {
      width: 136px;

      margin-right: auto;
      margin-left: auto;
    }
  }
}

.breadcrumbs button {
  margin-top: 0;
  padding: 0;
  height: auto;
  width: auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  background-color: inherit;
  color: $light-font;
  border: none;

  @media (max-width: $mobile-width) {
    display: none;

    &:last-child {
      position: relative;
      display: block;
      padding-left: 25px;
    }

    &:last-child::after {
      content: "of";
      position: absolute;
      top: 0;
      left: 5px;
    }
  }
}

.breadcrumbs button.active,
.breadcrumbs__button--active {
  color: $dark-font;

  @media (max-width: $mobile-width) {
    display: block;
  }
}
