.catalog__filter fieldset {
  padding: 0;
  border: 0;
}

.catalog__filter button {
  padding: 0;
  font-family: "Poppins","Courier New","Courier",monospace;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: $dark-font;
  border: none;
  background-color: inherit;
}

.catalog__list ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.catalog__list h3 {
  margin: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
}

.catalog__list p {
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
}
