.filter--open {
  @media (max-width: $tablet-width) {
    .overlay {
      display: block;
    }
  }
}

.filter__button {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
    padding: 24px 0 21px;
    margin-bottom: 50px;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    font-family: inherit;
    background-color: $primary;
    border: 1px solid $primary;
    text-align: center;
    color: $basic-white;
    z-index: 1000;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 40px;
  }
}

.filter__overlay {
  @media (max-width: $tablet-width) {
    display: none;
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;

    &--open {
      display: block;
    }
  }
}

.filter__window {
  @media (max-width: $tablet-width) {
    position: absolute;
    top: 27px;
    left: 0;
    z-index: 10;
    box-shadow: 0 5px 32px rgba($dark-font, 0.24);
  }

  @media (max-width: $mobile-width) {
    top: 38px;
  }
}

.filter__button-close {
  position: absolute;
  top: -9px;
  right: -16px;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 32px;
  height: 32px;
  background-color: $basic-black;
  border: none;
  border-radius: 50%;
  z-index: 20;

  @media (max-width: $tablet-width) {
    display: flex;
  }

  @media (max-width: $mobile-width) {
    top: -15px;
    right: -10px;
  }
}

.filter__button-close svg {
  fill: $basic-white;
}

.filter__form {
  @media (max-width: $tablet-width) {
    display: block;
    position: relative;
    min-width: 442px;
    max-height: 90%;
    background-color: $basic-white;
    z-index: 15;
    overflow-y: scroll;

    &--open {
      display: block;
    }
  }

  @media (max-width: $mobile-width) {
    min-width: 270px;
  }
}

.filter__form form {
  @media (max-width: $tablet-width) {
    padding-top: 6px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 0;
  }
}

.filter__accordion-button {
  position: relative;
  width: 100%;
  padding: 22px 25px 22px;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: $dark-font;
  border: none;
  background-color: inherit;
  text-align: start;

  &:hover {
    background-color: rgba($primary, 0.1);
  }

  &:active {
    background-color: rgba($primary, 0.3);
  }

  @media (max-width: $tablet-width) {
    padding: 34px 40px 34px 40px;
    font-size: 18px;
  }

  @media (max-width: $mobile-width) {
    padding: 23px 20px;
  }
}

.filter ul {
  padding: 0;
  margin: 0;
  color: $dark-font;
  list-style: none;
}

.filter li {
  @media (max-width: $tablet-width) {
    margin-bottom: 8px;

    &:last-child {
      margin-bottom: 8px;
    }
  }
}

.filter__svg {
  position: absolute;
  top: 26px;
  right: 25px;
  fill: none;

  &--active {
    transform: rotate(-180deg);
  }

  @media (max-width: $tablet-width) {
    width: 23px;
    height: 12px;
    top: 40px;
    right: 40px;
  }

  @media (max-width: $mobile-width) {
    width: 20px;
    height: 10px;
    top: 30px;
    right: 18px;
  }
}

.filter__accordion {
  display: none;

  .filter__range-handlers {
    display: none;
  }

  &--active {
    display: block;
    padding: 0 35px 29px;

    .filter__range-handlers {
      display: block;
    }
  }

  &--price {
    padding-bottom: 45px;
    padding-top: 15px;
    margin-top: 0;
  }

  @media (max-width: $tablet-width) {
    &--active {
      padding: 0 52px 26px;
    }

    &--price {
      width: 396px;
      margin-left: 9px;
    }
  }

  @media (max-width: $mobile-width) {
    &--active {
      padding: 0 30px 18px;
    }

    &--price {
      width: 250px;
    }
  }
}

.filter fieldset {
  padding: 0;
  margin: 0;
  border: 1px solid $primary;

  &:not(:last-of-type) {
    border-bottom: none;
  }

  &:last-of-type .filter__accordion-button {
    padding-bottom: 16px;
  }

  @media (max-width: $tablet-width) {
    border-right: none;
    border-left: none;

    &:first-child .filter__accordion-button {
      padding-bottom: 19px;
    }

    &:last-of-type .filter__accordion-button {
      padding-bottom: 34px;
    }

    &:last-of-type .filter__accordion--active {
      padding-bottom: 68px;
      padding-left: 43px;
      padding-right: 52px
    }
  }

  @media (max-width: $mobile-width) {
    &:first-child .filter__accordion-button {
      padding-bottom: 19px;
    }

    &:last-of-type .filter__accordion--active {
      padding-left: 10px;
      padding-right: 10px;
      padding-bottom: 57px;
    }
  }
}

.filter__label {
  position: relative;
}

.filter__label label {
  display: block;
  padding: 5px 25px 4px;
  font-size: 14px;
  line-height: 130%;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 7px;
    width: 15px;
    height: 15px;
    border: 1px solid $primary;
  }

  @media (max-width: $tablet-width) {
    padding-left: 28px;
    font-size: 16px;
    line-height: 130%;
  }

  @media (max-width: $mobile-width) {
    &::after {
      width: 18px;
      height: 18px;
    }
  }
}

.filter__label input {
  position: absolute;
  left: 0;
  top: 7px;
  display: block;
  width: 14px;
  height: 15px;
  margin: 0;
  opacity: 0;
  cursor: pointer;
}

.filter__label input:checked + label::after {
  background-color: $primary;
}

.filter__label input:focus + label {
  outline: 2px solid $basic-black;
  outline-offset: 2px;

  &::after {
    border-color: $primary;
  }
}

.filter__control-range {
  width: 100%;
  height: 1px;
  background-color: $light-background;
}

.filter__range-handlers {
  position: relative;
  width: 54%;
  height: 1px;
  background-color: $primary;
  transform: translateX(51px);

  @media (max-width: $tablet-width) {
    width: 58%;
  }

  @media (max-width: $mobile-width) {
    width: 55%;
    transform: translateX(46px);
  }
}

.filter__range-handler {
  position: absolute;
  top: -6px;
  width: 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;

  &--left {
    right: calc(100% - 9px);
  }

  &--right {
    left: calc(100% - 23px);
  }

  p {
    margin-top: 5px;
  }

  @media (max-width: $tablet-width) {
    top: -9px;

    &--left {
      right: calc(100% - 18px);
    }

    &--right {
      left: calc(100% - 15px);
    }
  }

  @media (max-width: $mobile-width) {
    top: -7px;

    &--left {
      right: calc(100% - 10px);
    }

    &--right {
      left: calc(100% - 12px);
    }
  }
}

.filter__range-handler div {
  width: 15px;
  height: 15px;
  background-color: $primary;
  border-radius: 50%;

  @media (max-width: $tablet-width) {
    width: 18px;
    height: 18px;
  }
}

.filter__form-buttons {
  margin-top: 35px;

  @media (max-width: $tablet-width) {
    padding: 0 40px 40px;
    margin-top: 40px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 20px 22px;
    margin-top: 29px;
  }
}

.filter__form-buttons button {
  padding: 23px;
  width: 100%;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  text-align: center;
  border: 1px solid $primary;
}

.filter__form-buttons button[type="submit"] {
  margin-bottom: 25px;
  color: $basic-white;
  background-color: $primary;

  &:hover {
    background-color: rgba($primary, 0.7);
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 21px;
  }
}

.filter__form-buttons button[type="reset"] {
  background-color: $basic-white;

  &:hover {
    background-color: rgba($primary, 0.3);
  }
}
