.filter--open {
  @media (max-width: $tablet-width) {
    .overlay {
      display: block;
    }
  }
}

.filter__button {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
    padding: 24px 0 21px;
    margin-bottom: 50px;
    width: 100%;
    font-weight: 500;
    font-size: 16px;
    line-height: 130%;
    font-family: inherit;
    background-color: $primary;
    border: 1px solid $primary;
    text-align: center;
    color: $basic-white;
    z-index: 1000;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 40px;
  }
}

.filter__overlay {
  @media (max-width: $tablet-width) {
    display: none;
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5;

    &--open {
      display: block;
    }
  }
}

.filter__window {
  @media (max-width: $tablet-width) {
    position: absolute;
    top: 21px;
    left: 0;
    z-index: 10;
    box-shadow: 0px 5px 32px rgba($dark-font, 0.24);
  }
}

.filter__button-close {
  position: absolute;
  top: -14px;
  right: -19px;
  display: none;
  align-items: center;
  justify-content: center;
  padding: 0;
  width: 32px;
  height: 32px;
  background-color: $basic-black;
  border: none;
  border-radius: 50%;
  z-index: 20;

  @media (max-width: $tablet-width) {
    display: flex;
  }
}

.filter__button-close svg {
  fill: $basic-white;
}

.filter__form {
  @media (max-width: $tablet-width) {
    display: block;
    position: relative;
    min-width: 423px;
    max-height: 90%;
    background-color: $basic-white;
    z-index: 15;
    overflow-y: scroll;

    &--open {
      display: block;
    }
  }

  @media (max-width: $mobile-width) {
    min-width: 280px;
  }
}

.filter fieldset {
  padding: 22px 25px 22px;
  margin: 0;
  border: 0;
  border: 1px solid $primary;

  &:not(:last-of-type) {
    border-bottom: none;
  }

  &:last-of-type {
    padding-bottom: 16px;
  }

  @media (max-width: $tablet-width) {
    padding: 22px 40px 16px 21px;
    border-right: none;
    border-left: none;
  }

  @media (max-width: $mobile-width) {
    padding: 30px 20px;
  }
}

.filter__accordion-button {
  position: relative;
  width: 100%;
  padding: 0;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: $dark-font;
  border: none;
  background-color: inherit;
  text-align: start;

  @media (max-width: $tablet-width) {
    font-size: 18px;
  }
}

.filter ul {
  padding: 0;
  margin: 0;
  color: $dark-font;
  list-style: none;
}

.filter__svg {
  position: absolute;
  top: 5px;
  right: 0;
  fill: none;

  &--active {
    transform: rotate(-180deg);
  }

  @media (max-width: $tablet-width) {
    width: 23px;
    height: 12px;
  }

  @media (max-width: $tablet-width) {
    width: 20px;
    height: 10px;
  }
}

.filter__accordion {
  display: none;

  .filter__range-handlers {
    display: none;
  }

  &--active {
    display: block;
    margin-top: 18px;
    padding-left: 9px;

    .filter__range-handlers {
      display: block;
    }
  }

  &--price {
    padding-bottom: 34px;
    padding-top: 25px;
    margin-top: 0;
  }

  @media (max-width: $tablet-width) {
    &--price {
      width: 304px;
      margin-left: 9px;
    }
  }

  @media (max-width: $mobile-width) {
    &--price {
      width: 250px;
    }
  }
}

.filter__label {
  position: relative;
}

.filter__label span {
  display: block;
  padding: 5px 25px 4px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 7px;
    width: 15px;
    height: 15px;
    border: 1px solid $primary;
  }
}

.filter__input {
  position: absolute;
  left: 0;
  top: 7px;
  width: 14px;
  height: 15px;
  margin: 0;
  opacity: 0;
}

.filter__input:checked+span::after {
  background-color: $primary;
}

.filter__control-range {
  width: 100%;
  height: 1px;
  background-color: $light-background;
}

.filter__range-handlers {
  position: relative;
  width: 54%;
  height: 1px;
  background-color: $primary;
  transform: translateX(51px);
}

.filter__range-handler {
  position: absolute;
  top: -6px;
  width: 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all .2s;
  cursor: pointer;

  &--left {
    right: calc(100% - 9px);
  }

  &--right {
    left: calc(100% - 23px);
  }

  p {
    margin-top: 5px;
  }
}

.filter__range-handler div {
  width: 15px;
  height: 15px;
  background-color: $primary;
  border-radius: 50%;
}

.filter__form-buttons {
  margin-top: 35px;

  @media (max-width: $tablet-width) {
    padding: 0 40px 40px 25px;
  }

  @media (max-width: $mobile-width) {
    padding: 0 20px 30px;
  }
}

.filter__form-buttons button {
  padding: 23px;
  text-align: center;
  border: 1px solid $primary;
}

.filter__form-buttons button[type=submit] {
  margin-bottom: 25px;
  color: $basic-white;
  background-color: $primary;
}
