.filter form {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.filter--open form{
  @media (max-width: $tablet-width) {
    display: block;
  }
}

.filter__button {
  display: none;

  @media (max-width: $tablet-width) {
    display: block;
    padding: 23px 0;
    margin-bottom: 50px;
    width: 100%;
    background-color: $primary;
    border: 1px solid $primary;
    text-align: center;
    color: $basic-white;
  }
}

.filter fieldset {
  padding: 22px 25px 16px;
  margin: 0;
  border: 0;
  border: 1px solid $primary;

  &:not(:last-of-type) {
    border-bottom: none;
  }
}

.filter__accordion-button {
  position: relative;
  width: 100%;
  padding: 0;
  font-family: "Poppins","Courier New","Courier",monospace;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: $dark-font;
  border: none;
  background-color: inherit;
  text-align: start;
}

.filter ul {
  padding: 0;
  margin: 0;
  color: $dark-font;
  list-style: none;
}

.filter__svg {
  position: absolute;
  top: 5px;
  right: 0;
  fill: none;

  &--active {
    transform: rotate(-180deg);
  }
}

.filter__accordion {
  display: none;

  .filter__range-handlers {
    display: none;
  }

  &--price {
    padding-bottom: 34px;
    padding-top: 25px;
  }

  &--active {
    display: block;
    margin-top: 18px;

    &:last-child {
      margin-top: 0;
    }

    .filter__range-handlers {
      display: block;
    }
  }
}

.filter__label {
  position: relative;
}

.filter__label span {
  display: block;
  padding: 5px 25px;

  &::after {
    content: "";
    position: absolute;
    left: 0;
    top: 7px;
    width: 15px;
    height: 15px;
    border: 1px solid $primary;
  }
}

.filter__input {
  position: absolute;
  left: 0;
  top: 7px;
  width: 14px;
  height: 15px;
  margin: 0;
  opacity: 0;
}

.filter__input:checked+span::after {
  background-color: $primary;
}

.filter__control-range {
  width: 100%;
  height: 1px;
  background-color: $light-background;
}

.filter__range-handlers {
  position: relative;
  width: 54%;
  height: 1px;
  background-color: $primary;
  transform: translateX(51px);
}

.filter__range-handler {
  position: absolute;
  top: -8px;
  width: 34px;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: all .2s;
  cursor: pointer;

  &--left {
    right: calc(100% - 17px);
  }

  &--right {
    left: calc(100% - 17px);
  }
}

.filter__range-handler div {
  width: 15px;
  height: 15px;
  background-color: $primary;
  border-radius: 50%;
}

.filter__form-buttons {
  margin-top: 35px;
}

.filter__form-buttons button {
  padding: 23px;
  text-align: center;
  border: 1px solid $primary;
}

.filter__form-buttons button[type=submit] {
  margin-bottom: 25px;
  color: $basic-white;
  background-color: $primary;
}
