.new-jewelery {
  display: flex;
  flex-direction: column;
  padding: 120px 98px 65px;
  overflow: hidden;

  @media (max-width: 1360px) {
    padding-left: 43px;
    padding-right: 43px;
  }

  @media (max-width: $tablet-width) {
    padding-top: 69px;
    padding-bottom: 30px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 59px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.new-jewelery__slider {
  display: flex;
  justify-content: space-between;
  align-items: center;

  @media (max-width: $mobile-width) {
    justify-content: center;

    button {
      display: none;
    }
  }
}

.new-jewelery a:focus-visible {
  outline: 1px solid $dark-font;
}

.new-jewelery button {
  display: flex;
  align-items: center;
  padding: 0;
  margin-top: 8px;
  width: 29px;
  height: 20px;
  background-color: inherit;
  border: none;
  cursor: pointer;

  @media (max-width: $tablet-width) {
    margin-top: 12px;
    width: 36px;
  }
}

.new-jewelery__slider button {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.new-jewelery__slider .button-disabled svg {
  stroke: rgba($primary, 0.5);
}

.new-jewelery__title {
  text-align: center;
}

.new-jewelery h2 {
  margin-bottom: 24px;

  @media (max-width: $tablet-width) {
    margin-bottom: 20px;
  }
}

.new-jewelery p {
  @media (max-width: $tablet-width) {
    padding-bottom: 4px;
  }
}

.new-jewelery__title a {
  display: inline-block;
  vertical-align: baseline;
  text-decoration: none;
  border-bottom: 1px solid $primary;
}

.new-jewelery__catalog ul {
  display: flex;
  padding: 0;
  margin: 44px auto 36px;
  width: 1170px;
  list-style: none;
  // overflow: hidden;
  // scroll-behavior: smooth;

  // @media (max-width: 1290px) {
  //   width: 938px;
  // }

  @media (max-width: $tablet-width) {
    width: 677px;
    margin-top: 35px;
    margin-bottom: 22px;
  }

  @media (max-width: $mobile-width) {
    width: 290px;
    margin-top: 25px;
    margin-bottom: 14px;
  }
}

.new-jewelery__catalog li {
  margin: 15px;

  &:first-child {
    margin-left: 0;
  }

  &:focus-visible {
    outline: -webkit-focus-ring-color auto 1px;
  }

  @media (max-width: 1290px) {
    width: 206px;
  }

  @media (max-width: $tablet-width) {
    width: auto;
    margin-right: 15px;

    &:first-child h3 {
      padding-left: 17px;
    }
  }

  @media (max-width: $mobile-width) {
    &:first-child h3 {
      padding-left: 0;
    }
  }
}

.new-jewelery__catalog img {
  display: block;
  height: 284px;
  width: auto;
  object-fit: cover;

  @media (max-width: 1290px) {
    height: 220px;
    width: auto;
  }

  @media (max-width: $tablet-width) {
    width: 324px;
    height: 340px;
  }

  @media (max-width: $mobile-width) {
    width: 130px;
    height: 136px;
  }
}

.new-jewelery__catalog a {
  display: block;
  text-decoration: none;

  &:focus-visible {
    outline: -webkit-focus-ring-color auto 1px;
  }
}

.new-jewelery__catalog h3 {
  margin-top: 22px;
  margin-bottom: 6px;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: $dark-font;
  text-align: center;

  @media (max-width: $mobile-width) {
    margin-top: 16px;
  }
}

.new-jewelery__catalog p {
  font-weight: 700;
  font-size: 14px;
  text-align: center;
}
