.page-footer {
  background-color: $basic-black;
}

.page-footer__container {
  display: flex;
  padding: 90px 95px 71px;

  @media (max-width: 1260px) {
    padding-left: 43px;
    padding-right: 43px;
  }

  @media (max-width: $tablet-width) {
    flex-direction: column;
    padding-top: 49px;
    padding-bottom: 31px;
  }

  @media (max-width: $mobile-width) {
    padding: 60px 15px 39px;
    padding-top: 50px;
  }
}

.page-footer__subscription {
  margin-right: 96px;

  @media (max-width: $tablet-width) {
    margin-right: 0;
    margin-bottom: 41px;
  }
}

.page-footer h3 {
  margin-top: 0;
  margin-bottom: 8px;
  font-family: "Cormorant Garamond", "Times New Roman", "Times", serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 130%;
  letter-spacing: 0.03em;
  color: $basic-white;

  @media (max-width: $mobile-width) {
    padding-right: 53px;
    margin-bottom: 13px;
  }
}

.page-footer__email {
  position: relative;
  width: 500px;

  @media (max-width: 1290px) {
    width: 300px;
  }

  @media (max-width: $tablet-width) {
    width: 82%;
  }

  @media (max-width: $mobile-width) {
    width: 100%;
  }
}

.page-footer p {
  padding-left: 4px;
  margin-bottom: 23px;
  font-weight: 400;
  font-size: 16px;
  color: $light-font;
  line-height: 130%;
  text-align: start;

  @media (max-width: $mobile-width) {
    margin-bottom: 21px;
    padding-left: 0;
    padding-right: 50px;
  }
}

.page-footer input {
  display: block;
  padding: 21px 114px 9px 3px;
  width: 100%;
  font-family: "Poppins", "Courier New", "Courier", monospace;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $basic-white;
  border: none;
  border-bottom: 1px solid $basic-white;
  background-color: inherit;

  &::placeholder {
    color: $light-font;
  }

  @media (max-width: $mobile-width) {
    padding-left: 0;
  }
}

.page-footer button {
  position: absolute;
  right: -3px;
  top: 21px;
  padding: 0 42px 0 0;
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  border: none;
  background-color: inherit;
  color: $basic-white;
  cursor: pointer;

  &:hover {
    color: rgba($basic-white, 0.6);
  }

  @media (max-width: $mobile-width) {
    padding-right: 45px;
  }
}

.page-footer__result {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  font-size: 16px;
  line-height: 130%;
  font-weight: 400;
  background-color: rgba($primary, 1);
  color: $basic-white;
  justify-content: center;
  align-items: center;
  z-index: 1;
  display: none;
}

.page-footer__arrow {
  position: absolute;
  right: 0;
  top: 4px;
  transform: rotate(-180deg);
  stroke: $basic-white;
}

.page-footer__links {
  display: grid;
  grid-template-columns: repeat(3, min-content);
  padding-top: 5px;

  @media (max-width: $mobile-width) {
    grid-template-columns: min-content;
  }
}

.page-footer__list li {
  margin-bottom: 22px;

  @media (max-width: $tablet-width) {
    margin-bottom: 22px;
  }
}

.page-footer__list {
  margin: 0;
  padding: 0;
  list-style: none;

  &--info {
    padding-right: 72px;
  }

  &--about-us {
    padding-right: 107px;
  }

  @media (max-width: $tablet-width) {
    &--info {
      padding-right: 90px;
    }

    &--about-us {
      padding-right: 87px;
    }
  }

  @media (max-width: $mobile-width) {
    &--info {
      margin-bottom: 15px;
    }

    &--about-us {
      margin-bottom: 23px;
    }

    &--social {
      display: flex;
      width: 177px;
      justify-content: space-between;
    }

    &--social li {
      margin-bottom: 0;
    }
  }
}

.page-footer__icon {
  margin-right: 15px;
  fill: $basic-white;

  @media (max-width: $mobile-width) {
    width: 20px;
    height: 20px;

    &--facebook {
      width: 12px;
      height: 21px;
    }
  }
}

.page-footer__list a {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: $basic-white;
  text-decoration: none;

  &:hover,
  &:hover svg {
    color: rgba($basic-white, 0.6);
    fill: rgba($basic-white, 0.6);
  }
}

.page-footer__list span {
  @media (max-width: $mobile-width) {
    display: none;
  }
}
