.page-header {
  &--open {
    background-color: $primary;

    .page-header__burger svg,
    .page-header__basket svg {
      stroke: $basic-white;
    }

    .page-header__logo svg {
      fill: $basic-white;
      stroke: $basic-white;
    }
  }
}

.page-header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px 13px 98px;
  border-bottom: 1px solid $light-bottom;

  @media (max-width: $tablet-width) {
    padding: 30px 38px 23px;
    border-bottom: none;
  }

  @media (max-width: $mobile-width) {
    padding: 20px 15px 13px;
  }
}

.page-header__burger,
.page-header__basket {
  display: none;
  padding: 0;
  background-color: inherit;
  border: 0;

  @media (max-width: $tablet-width) {
    display: block;
  }
}

.page-header__burger svg,
.page-header__basket svg {
  stroke: $dark-font;
}

.page-header__search,
.page-header__buttons {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.page-header__search {
  position: relative;
  padding-left: 29px;

  svg {
    position: absolute;
    left: 0;
    top: 5px;
    top: 3px;
  }
}

.page-header__logo svg {
  stroke: $primary;
}

.page-header button {
  padding: 0;
  background-color: inherit;
  border: 0;
}

.page-header__search input {
  padding: 0;
  font-family: "Poppins", "Courier New", "Courier", monospace;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  border: none;
}


.page-header__buttons button{
  font-family: "Poppins", "Courier New", "Courier", monospace;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $dark-font;
}

.page-header__main-nav {
  padding: 18px 18px 10px;
  display: flex;
  justify-content: center;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.page-header ul {
  padding: 0;
  margin: 0;
  list-style: none;
}

.page-header__main-nav ul {
  display: grid;
  grid-template-columns: repeat(5, min-content);
  column-gap: 34px;
}

.page-header a {
  text-decoration: none;
}

.page-header__main-nav a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $dark-font;
  white-space: nowrap;
}

.page-header__popup {
  display: none;

  @media (max-width: $tablet-width) {
    padding: 10px 15px 50px;
    background-color: $primary;

    &--open {
      display: block;
    }

    a,
    button {
      color: $basic-white;
    }

    .page-header__list--information a {
      color: rgba($basic-white, 0.75);
    }
  }
}

.page-header__input {
  position: relative;
  margin-bottom: 36px;
}

.page-header__input input {
  padding: 0;
  height: 40px;
  width: 100%;
  background-color: rgba($basic-white, 0.15);
  border-radius: 21px;
  border: none;
}

.page-header__input svg {
  position: absolute;
  left: 16px;
  top: 13px;
  fill: $basic-white;
}

.page-header__list {
  font-weight: 500;

  @media (max-width: $tablet-width) {
    &--types {
      font-size: 24px;
      line-height: 36px;

      li {
        margin-bottom: 21px;
      }
    }

    &--information,
    &--login button {
      font-size: 18px;
      line-height: 130%;
    }

    &--information {
      li {
        margin-bottom: 18px;
      }
    }

    &--login button {
      margin-top: 27px;
    }
  }
}
