.page-header {
  &--open {
    background-color: $primary;

    .page-header__burger svg,
    .page-header__basket svg {
      stroke: $basic-white;
    }

    .page-header__logo svg {
      fill: $basic-white;
      stroke: $basic-white;
    }
  }
}

.page-header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 100px 13px 98px;
  border-bottom: 1px solid $light-bottom;

  @media (max-width: $tablet-width) {
    padding: 29px 44px 25px 42px;
    border-bottom: none;
  }

  @media (max-width: $mobile-width) {
    padding: 19px 14px 15px 13px;
  }
}

.page-header__burger,
.page-header__basket {
  display: none;
  padding: 0;
  background-color: inherit;
  border: 0;

  @media (max-width: $tablet-width) {
    display: block;
  }
}

.page-header__burger svg,
.page-header__basket svg {
  stroke: $dark-font;
}

.page-header__search,
.page-header__buttons {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.page-header__search {
  position: relative;
  padding-left: 29px;
  margin-bottom: 29px;

  svg {
    position: absolute;
    left: 0;
    top: 3px;
  }
}

.page-header__logo svg {
  stroke: $primary;

  @media (max-width: $mobile-width) {
    width: 52px;
    height: 52px;
  }
}

.page-header button {
  padding: 0;
  background-color: inherit;
  border: 0;
  cursor: pointer;
}

.page-header__search input {
  padding: 0;
  font-family: "Poppins", "Courier New", "Courier", monospace;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  border: none;
}

.page-header__buttons {
  display: grid;
  grid-template-columns: repeat(2, max-content);
  height: 100%;
  margin-left: 80px;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.page-header__buttons button {
  display: block;
  margin-right: 37px;
  margin-bottom: 28px;
  font-family: inherit;
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  color: $dark-font;

  &:nth-of-type(2n) {
    margin-right: 0;
  }
}

.page-header__main-nav {
  padding: 18px;
  display: flex;
  justify-content: center;

  @media (max-width: $tablet-width) {
    display: none;
  }
}

.page-header ul {
  padding: 0;
  list-style: none;
}

.page-header__main-nav ul {
  display: grid;
  grid-template-columns: repeat(5, min-content);
  column-gap: 35px;
  min-width: 493px;
  margin-left: 13px;
}

.page-header a {
  display: block;
  text-decoration: none;
}

.page-header__logo {
  display: block;
  margin-right: 14px;

  @media (max-width: $tablet-width) {
    margin-right: 9px;
  }
}

.page-header__main-nav a {
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $dark-font;
  white-space: nowrap;
}

.page-header__popup {
  display: none;

  @media (max-width: $tablet-width) {
    position: fixed;
    top: 122px;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 10;
    padding: 14px 45px 50px;
    background-color: $primary;

    &--open {
      display: block;
    }

    a,
    button {
      color: $basic-white;
    }

    .page-header__list--information a {
      color: rgba($basic-white, 0.75);
    }
  }

  @media (max-width: $mobile-width) {
    top: 90px;
    padding-left: 15px;
    padding-right: 15px;
  }
}

.page-header__popup-navigation {
  display: block;
  overflow: auto;
  width: 100%;
  height: 100%;
}

.page-header__input {
  position: relative;
  margin-bottom: 36px;

  @media (max-width: $tablet-width) {
    margin-bottom: 46px;
  }

  @media (max-width: $mobile-width) {
    margin-bottom: 34px;
  }
}

.page-header__input input {
  padding: 0;
  height: 40px;
  width: 100%;
  background-color: rgba($basic-white, 0.15);
  border-radius: 21px;
  border: none;
}

.page-header__input svg {
  position: absolute;
  left: 16px;
  top: 13px;
  fill: $basic-white;

  @media (max-width: $tablet-width) {
    left: 12px;
  }
}

.page-header__list {
  font-weight: 500;
  margin-top: 0;
  margin-bottom: 0;

  @media (max-width: $tablet-width) {
    &--types {
      margin-bottom: 41px;
      font-size: 24px;
      line-height: 36px;

      li {
        margin-bottom: 21px;
      }
    }

    &--information,
    &--login button {
      font-size: 18px;
      line-height: 130%;
    }

    &--information {
      li {
        margin-bottom: 18px;
      }
    }

    &--login button {
      margin-top: 27px;
    }
  }

  @media (max-width: $mobile-width) {
    &--types {
      margin-bottom: 32px;
    }
  }
}
