.product-cards ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  row-gap: 35px;
  column-gap: 30px;

  @media (max-width: $mobile-width) {
    grid-template-columns: 1fr 1fr;
  }
}

.product-cards li {
  text-align: center;

  &:first-child h3,
  &:last-child h3 {
    margin-left: 7px;
  }
}

.product-cards img {
  display: block;
  width: 270px;
  height: 272px;
  margin: 0 auto;
  margin: 0 auto 19px;

  @media (max-width: 1290px) {
    width: 206px;
    height: 208px;
  }

  @media (max-width: $mobile-width) {
    width: 130px;
    height: 136px;
  }
}

.product-cards h3 {
  margin-bottom: 9px;
}
