.promo {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 0 98px;
  min-height: 463px;
  width: 100%;
  color: $basic-white;
  text-align: center;
  background-color: $primary;
}

.promo img {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  object-fit: cover;
}

.promo h2,
.promo p {
  margin: 0;
  font-family: "Cormorant Garamond", "Times New Roman", "Times", serif;
  line-height: 130%;
  color: $basic-white;
  z-index: 1;
}

.promo h2 {
  font-weight: 700;
  font-size: 45px;
  letter-spacing: 0.03em;
  transform: translateY(4px);
}

.promo p {
  font-style: italic;
  font-size: 38px;
  transform: translateY(-4px);
}
