.questions {
  padding: 94px 15px 70px;

  @media (max-width: $tablet-width) {
    padding-top: 44px;
    padding-bottom: 35px;
  }

  @media (max-width: $mobile-width) {
    padding-top: 35px;
  }
}

.questions ul {
  padding: 0 100px;
  margin: 0 auto;
  max-width: 1170px;
  list-style: none;

  @media (max-width: $tablet-width) {
    padding: 0 30px;
  }

  @media (max-width: $mobile-width) {
    padding: 0;
  }
}

// .questions__item {

// }

.questions__item:last-child {
  @media (max-width: $mobile-width) {
    button {
      padding-right: 32px;
    }
  }
}


.questions h3 {
  margin-top: 0;
  margin-bottom: 49px;
  font-family: "Cormorant Garamond", "Times New Roman", "Times", serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-align: center;
  color: $dark-font;

  @media (max-width: $mobile-width) {
    margin-bottom: 29px;
  }
}

.questions button {
  position: relative;
  padding: 43px 50px 43px 43px;
  text-align: start;
  width: 100%;
  font-family: inherit;
  background-color: inherit;
  border: 1px solid $primary;

  &:hover {
    background-color: rgba($primary, 0.2);
  }

  @media (max-width: $tablet-width) {
    padding-left: 49px;
  }

  @media (max-width: $mobile-width) {
    padding: 15px 25px 21px 24px;
  }
}

.questions__item:not(:last-child) button {
  border-bottom: none;
}

.questions__arrow-icon {
  position: absolute;
  right: 50px;
  top: 50px;
  fill: none;

  @media (max-width: $tablet-width) {
    width: 23px;
    height: 12px;
  }

  @media (max-width: $mobile-width) {
    right: 25px;
    top: 25px;
    width: 20px;
    height: 10px;
  }
}

.questions span {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: $dark-font;

  @media (max-width: $mobile-width) {
    padding-right: 54px;
    display: block;
    font-size: 16px;
    line-height: 140%;
  }
}

.questions__item:nth-child(3n) span {
  @media (max-width: $mobile-width) {
    padding-right: 57px;
  }
}

.questions__item:nth-child(4n) span {
  @media (max-width: $mobile-width) {
    padding-right: 17px;
  }
}

.questions p {
  display: none;
  width: 60%;
  padding-top: 7px;
  padding-left: 8px;
  font-size: 16px;
  line-height: 130%;
  text-align: start;
  font-weight: 400;

  @media (max-width: $tablet-width) {
    padding-top: 26px;
    padding-left: 0;
    width: 95%;
  }

  @media (max-width: $mobile-width) {
    width: 86%;
    padding-top: 16px;
    font-size: 14px;
    line-height: 140%;
  }
}

.questions__item--open {
  p {
    display: block;
  }

  .questions__arrow-icon {
    transform: rotate(-180deg);
  }
}
