.questions {
  padding: 94px 15px 70px;
}

.questions ul {
  padding: 0 100px;
  margin: 0 auto;
  max-width: 1170px;
  list-style: none;

  @media (max-width: $tablet-width) {
    padding: 0 35px;
  }

  @media (max-width: $mobile-width) {
    padding: 0;
  }
}

.questions__item {
  padding: 43px 50px 43px 43px;
  border: 1px solid $primary;

  @media (max-width: $mobile-width) {
    padding: 22px 25px 25px 24px;
  }
}

.questions__item:not(:last-child) {
  border-bottom: none;
}

.questions h3 {
  margin-top: 0;
  margin-bottom: 49px;
  font-family: "Cormorant Garamond", "Times New Roman", "Times", serif;
  font-weight: 700;
  font-size: 34px;
  line-height: 130%;
  letter-spacing: 0.03em;
  text-align: center;
  color: $dark-font;
}

.questions button {
  position: relative;
  padding: 0;
  padding-right: 20px;
  text-align: start;
  width: 100%;
  font-family: "Poppins", "Courier New", "Courier", monospace;
  background-color: inherit;
  border: none;
  outline: none;
}

.questions__arrow-icon {
  position: absolute;
  right: 0;
  top: 8px;
  fill: none;

  @media (max-width: $tablet-width) {
    width: 23px;
    height: 12px;
  }

  @media (max-width: $mobile-width) {
    width: 20px;
    height: 10px;
  }
}

.questions span {
  font-weight: 500;
  font-size: 18px;
  line-height: 130%;
  color: $dark-font;

  @media (max-width: $tablet-width) {
    font-size: 16px;
    line-height: 140%;
  }
}

.questions p {
  display: none;
  width: 60%;
  padding-top: 7px;
  padding-left: 8px;
  font-size: 16px;
  line-height: 130%;
  text-align: start;
  font-weight: 400;

  @media (max-width: $tablet-width) {
    width: 100%;
  }
}

.questions__item--open {
  p {
    display: block;
  }

  .questions__arrow-icon {
    transform: rotate(-180deg);
  }
}
