html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  font-weight: 500;
  font-size: 14px;
  line-height: 21px;
  font-family: "Poppins", "Courier New", "Courier", monospace;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h2,
p {
  margin: 0;
  line-height: 130%;
  color: $dark-font;
  text-align: center;
}

h2 {
  font-family: "Cormorant Garamond", "Times New Roman", "Times", serif;
  font-weight: 700;
  font-size: 34px;
}

p {
  font-weight: 500;
  font-size: 16px;
}

.container {
  max-width: 1366px;
  margin-left: auto;
  margin-right: auto;
}

.arrow-icon {
  stroke: $primary;

  &--right {
    transform: rotate(-180deg);
  }
}
