$light-font: #9b9997;
$primary: #a87b62;
$dark-font: #1d1613;
$light-bottom: #f6f5f4;
$light-background: #f0eae4;
$basic-white: #ffffff;
$basic-black: #000000;

$valid: rgb(9, 129, 9);
$error: rgb(190, 60, 0);

$tablet-width: 1023px;
$mobile-width: 767px;
